<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tes.question">
    <resultMap id="QuestionMap" type="co.bugu.tes.model.question.CommonQuestion">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="answer" property="answer" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="extra_info" property="extraInfo" jdbcType="VARCHAR"/>
        <result column="meta_info_id" property="metaInfoId" jdbcType="INTEGER"/>
        <result column="question_bank_id" property="questionBankId" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="prop_item_id_info" property="propItemIdInfo" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_user_id" property="createUserId" jdbcType="INTEGER"/>
        <result column="branch_Id" property="branchId" jdbcType="INTEGER"/>
        <result column="department_id" property="departmentId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="question_list">
    id, answer, content, extra_info, meta_info_id, question_bank_id, title, prop_item_id_info, status, create_user_id,
    branch_id, department_id, create_time
  </sql>
    <select id="selectById" resultMap="QuestionMap" parameterType="java.lang.Integer">
        select
        <include refid="question_list"/>
        from common_question question
        where question.id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteById" parameterType="java.lang.Integer">
    delete from common_question
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="co.bugu.tes.model.Question">
        insert into common_question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="answer != null">
                answer,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="extraInfo != null">
                extra_info,
            </if>
            <if test="metaInfoId != null">
                meta_info_id,
            </if>
            <if test="questionBankId != null">
                question_bank_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="propItemIdInfo != null">
                prop_item_id_info,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="branchId != null">
                branch_id,
            </if>
            <if test="departmentId != null">
                department_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="answer != null">
                #{answer,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="extraInfo != null">
                #{extraInfo,jdbcType=VARCHAR},
            </if>
            <if test="metaInfoId != null">
                #{metaInfoId,jdbcType=INTEGER},
            </if>
            <if test="questionBankId != null">
                #{questionBankId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="propItemIdInfo != null">
                #{propItemIdInfo},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="createUserId != null">
                #{createUserId},
            </if>
            <if test="branchId != null">
                #{branchId},
            </if>
            <if test="departmentId != null">
                #{departmentId},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>
    <update id="updateById" parameterType="co.bugu.tes.model.Question">
        update common_question
        <set>
            <if test="answer != null">
                answer = #{answer,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="extraInfo != null">
                extra_info = #{extraInfo,jdbcType=VARCHAR},
            </if>
            <if test="metaInfoId != null">
                meta_info_id = #{metaInfoId,jdbcType=INTEGER},
            </if>
            <if test="questionBankId != null">
                question_bank_id = #{questionBankId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="propItemIdInfo != null">
                prop_item_id_info = #{propItemIdInfo},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId},
            </if>
            <if test="branchId != null">
                branch_id = #{branchId},
            </if>
            <if test="departmentId != null">
                department_id = #{departmentId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <select id="findByObject" resultMap="QuestionMap" parameterType="co.bugu.tes.model.Question">
        select
        <include refid="question_list"/>
        from common_question question
        order by question.id desc
    </select>




    <select id="selectCountOfPropInfo" resultType="map" parameterType="int">
        SELECT COUNT(0) AS cnt, tmp.propInfo FROM(
          SELECT ques.id, GROUP_CONCAT(qp.`property_item_id` ORDER BY qp.`property_item_id` ASC) AS propInfo
          FROM common_question ques
          LEFT JOIN question_propItem_x qp ON ques.id = qp.`question_id`
          WHERE ques.meta_info_id = #{metaInfoId}
          GROUP BY ques.id
        ) AS tmp
        GROUP BY tmp.propInfo;
    </select>

    <insert id="addToPropItem" parameterType="map">
        insert into question_propItem_x (question_id, property_item_id)
        values (#{questionId},#{propItemId});
    </insert>

    <delete id="removeFromPropItem" parameterType="int">
        delete from question_propItem_x where question_id = #{questionId};
    </delete>
</mapper>