<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--用于设置别名，在映射文件中就不用再写全限定类名-->
    <typeAliases>
        <!--<typeAlias alias="User" type="co.bugu.tes.model.User"/>-->
        <!--<typeAlias alias="Department" type="co.bugu.tes.model.Department"/>-->
        <!--<typeAlias alias="Authority" type="co.bugu.tes.model.Authority"/>-->
    </typeAliases>

    <plugins>
        <!--<plugin interceptor="co.bugu.framework.core.mybatis.SqlParamInterceptor">-->
            <!--<property name="method" value="*findByObject"/>-->
        <!--</plugin>-->
        <plugin interceptor="co.bugu.framework.core.mybatis.ParameterInterceptor">
            <property name="method" value="findByObject"/>
        </plugin>
        <plugin interceptor="co.bugu.framework.core.mybatis.StatementInterceptor">
            <property name="method" value="findByObject"/>
        </plugin>
    </plugins>
</configuration>